<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="cacheEnabled" value="true" />
        <setting name="lazyLoadingEnabled" value="true" />
        <setting name="logImpl" value="SLF4J"/>
    </settings>
    <typeAliases>
        <!--<typeAlias type="com.hand.wzl25722.handler.LocalDateTypeHandler" alias="LocalDateTypeHandler"/>-->
        <package name="com.hand.wzl25722.bean"/>
    </typeAliases>
    <typeHandlers>
        <!--<typeHandler handler="LocalDateTypeHandler" javaType="java.time.LocalDate"/>-->
    </typeHandlers>
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <property name="helperDialect" value="mysql"/>
            <property name="reasonable" value="true"/>
        </plugin>
    </plugins>
</configuration>